body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url("../public/assets/sitebg2 copy.png");
  background-size:100% 100%;
  background-attachment: fixed;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height:500vh;
  width:100vw;
}

#controls {
  position:fixed;
  z-index:1000;
  margin:1em;
}

#details {
  position: absolute;
  z-index: 1000;
  left:70%;
  opacity: 0;
  background-color: blue;
  transition: opacity 2s;
}

.showDetails {
  opacity: 1 !important;
}

.art-era {
  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
}

.placeholder {
  position: absolute;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px black;
  opacity: 1;
  transform: scale(100%);
  transition: opacity 1s, transform 2s, box-shadow;
}

.selected {
  transform: scale(-200%, 200%);
}

.placeholder:hover {
  background-color: blue;
  z-index: 1000 !important;
  opacity: 1 !important;
  box-shadow: 1px 1px 5px black;
}

.special {
  border: 5px blue !important;
}

svg {
  z-index: -100;
  width:100vw;
  height:100vh;
}

svg polyline,
svg line,
svg path {
  fill: none;
  stroke: rgb(255, 0, 0);
  stroke-dasharray: 10 5;
  stroke-width: 2px;
  stroke-linejoin: round;
  transition: 0.2s;
}

.viewer {
  opacity: 0;
  background-color: aqua;
  position: absolute;
  height: 500px;
  width:500px;
  transform-origin: 0% 100%;
  transform: scaleY(.1);
  transition: opacity 2s, transform 2s;
}

.show {
  transform: scaleY(1);
  opacity: 1 !important;
}

.hide {
  opacity: 0 !important;
}